@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Shared Styles-------------------------------------- */
.res-nav-bar{
    display: none;
}
.h1-title{
    font-size: 56px;
    font-weight: 700;
}
.h2-title{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}
.h3-description{
    font-size: 18px;
    font-weight: 400;
    color: rgb(17, 17, 17);
}
.c-orange{
    color: rgb(254, 163, 1);
}
.c-sky-blue{
    color: rgb(1, 172, 253);
}
.c-aqua-marine{
    color: rgb(5, 212, 223);
}
.c-violet{
    color: rgb(93, 88, 239);
}
.btn-primary{
    color: white;
    background-color: rgb(254, 163, 1);
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
}
.display-flex{
    display: flex;
    justify-content: center;
}
.section-space{
    margin-bottom: 80px;
}
/* Header styles----------------------------------- */
.header-section{
    max-width: 1160px;
    margin: 0 auto;
}
.nav-logo{
    display: flex;
    align-items: center;
}
nav{
    justify-content: space-between;
}
.menu-item{
    list-style: none;
    margin-right: 32px;  
}
.menu-link{
    text-decoration: none;
}
.hero-section{
    justify-content: space-between;
}
.hero-items button{
    background: rgb(17, 17, 17);
    margin-top: 24px;
}
/* Main styles----------------------------------------------- */
.curriculum-title h1{
    font-size: 46px;
}
.card{
    max-width: 367px;
    max-height: 476px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.card img{
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.card button{
    background: white;
    font-size: 15px;
    font-weight: 700;
}
.card h2 p{
    margin: 0 auto;
}
.card p{
    font-size: 15px;
}
.card h2{
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0 auto;
    
}
.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1160px;
    margin: 0 auto;
}
.card-1{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-2{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-1 button{
    color: rgb(100, 200, 255);
    margin: 0 auto;
}
.card-2 button{
    color: rgb(240, 170, 0);
    margin: 0 auto;
}
.card-3 button{
    color: rgb(135, 0, 255);
    margin: 0 auto;
}
.curriculum-slide-btn{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.curriculum-slide-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    color: #fff;
    border: none;
    font-size: 40px;
    margin-right: 10px;
}
.curriculum{
    padding: 60px 0;
    background-image: url(assets/bg.png);
    background-color: rgb(223, 240, 230);
}
/* Stories section--------------------------------------------- */
.our-stories{
    background-image: url(assets/bg.png);
    max-width: 100%;
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    height: 1018px;
}
.story-container{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
}
.big-story-card{
    max-width: 541px;
    height: 631px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
}
.story-card{
    max-width: 291px;
    height: 302px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.story-card img{
    height: 59%;
    width: 100%;
}
.story-card h2{
    white-space: nowrap;
    font-size: 16px;
    color: black;
    margin: 35px 15px;

}
.story-card .btn-primary{
    border-radius: 48px;
    background: rgb(149, 178, 38);
}
.big-story-card h2{
    margin-left: 38px;
}
.big-story-card p{
    margin-left: 38px;
}
.big-story-card h2{
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}
.big-story-card{
    position: relative;
}
.big-story-card button{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
}
.big-story-btn{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-story-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.story-card button{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 47.93px;
    height: 40px;
    width: 170px;
}
.story-card-2 button{
    background: rgb(93, 88, 240);
    border: none;
    color: white;
}
.view-all-btn button{
    background: black;
}
.view-all-btn{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
/* Responsive style------------------------------------------- */
@media screen and (max-width: 576px) {
        .nav-logo h2, 
        .menu-bar,
        #contact-btn,
        .big-story-card,
        .curriculum-slide-btn
        {
            display: none;
        }
        .res-nav-bar{
            display: flex;

        }
        .res-icon{
            font-size: 50px;
            background-color: rgb(240, 196, 116);
            height: 50px;
        }
        .hero-section{
            flex-direction: column-reverse;

        }
        .nav-bar{
            border-bottom: 1px solid rgb(254, 163, 1);
        }
        
        html,body {
            margin: 0;
            padding: 0;
            overflow-x: hidden; /* Prevent horizontal scrolling */
            width: 100%;        /* Ensure full viewport width */
        }
        .header-section{
            max-width: 357px;
        }
        .curriculum-cards{
            display: grid;
            grid-template-columns: repeat(1, 1fr); 
        }
        .card{
            margin: 0 auto;
        }
        .standard-title{
            white-space: nowrap;
            max-width: 100%;
        }
        
        .small-story-cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            place-items: center;
        }
        .enroll-btn{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
}