@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Shared Styles-------------------------------------- */
.h2-title{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}
.h3-description{
    font-size: 18px;
    font-weight: 400;
}
.c-orange{
    color: rgb(254, 163, 1);
}
.c-sky-blue{
    color: rgb(1, 172, 253);
}
.c-aqua-marine{
    color: rgb(5, 212, 223);
}
.c-violet{
    color: rgb(93, 88, 239);
}
.btn-primary{
    color: white;
    background-color: rgb(254, 163, 1);
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
}
/* Header styles----------------------------------- */
.header-section{
    max-width: 1160px;
    margin: 0 auto;
}
.nav-logo{
    display: flex;
    align-items: center;
}
nav{
    justify-content: space-between;
}
.menu-item{
    list-style: none;
    margin-right: 32px;  
}
.menu-link{
    text-decoration: none;
}